---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { wpquery } from "../graphql/wordpressQuery";

import type { Post } from "../generated/graphql";

const data = await wpquery({
	query: `
	{
		posts{
			nodes{
				title
				slug
				excerpt
				date
				content
				featuredImage {
					node {
						id
						sourceUrl
					}
				}
			}
		}
	}
	`,
});
---

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	.featuredimage{
		height: 100px;
		width: 100px;
	}

</style>

<Layout title="Welcome to Astro.">
	<main>
		{
			data.posts.nodes.map((post: Post) => {
				const featuredImage = post.featuredImage?.node; // Verifica si featuredImage y su node existen

				// Parsear la fecha y la hora
				const postDate = new Date(post.date as string);
				const formattedDate = postDate.toLocaleDateString();
				const formattedTime = postDate.toLocaleTimeString();

				return (
					<div>
						<p>{post.title}</p>
						<p>Fecha: {formattedDate}</p>
						<p>Hora: {formattedTime}</p>
						{featuredImage && (
							<img class="featuredimage"
								src={featuredImage.sourceUrl}
								alt={featuredImage.id}
							/>
						)}
						<p set:html={post.excerpt} />
					</div>
				);
			})
		}
	</main>
</Layout>
